{% extends "post/base.html" %}
{% block title %}Password changed{% endblock %}
{% block content %}


    <div class="container p-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card" style="background: #abd8dd">
                    <div class="card-body jumbotron">
                        <p>Your password has been successfully changed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}