{% extends "post/base.html" %}

{% block content %}
    
    <div class="container p-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card" style="background: #abd8dd">
                    <div class="card-body jumbotron">
                        Someone asked for password reset for email {{ email }}. Follow the
                        link below:
                        {{ protocol }}://{{ domain }}{% url "password_reset_confirm"
                        uidb64=uid token=token %}
                        Your username, in case you've forgotten: {{ user.get_username }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}