{% extends 'post/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
CONTACT
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-6 col-lg-6 pb-4">
            {%if profile.get_count_friends > 0 %}
                you have {{profile.get_count_friends}} friend{{profile.get_count_friends|pluralize}}:
                <br>
                {%for friend in profiles%}
                    {{friend}}
                    <br>
                {%endfor%}
            {%endif%}
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-6 col-lg-6 pb-4">
                list of all users:
                <br>
                {% if nb_invitation > 0  %}
                you have {{nb_invitation}} invitation{{nb_invitation|pluralize}}
                {%endif%}
                <br>
                {%for profile in all_profiles%}
                    {{profile.user}}
                    <br>
                    {% if profile.user not in rel_receiver and profile.user not in rel_sender and profile.user not in profile.friends.all%}
                    <form action="{% url 'post:send_invitation' %}" method="post">
                        {%csrf_token%}
                        <input type="hidden" name="profile_id" id="" value="{{profile.id}}" >
                            <button type="submit">add to friends</button>                        
                    </form>
                    {%endif%}
                    <br>
                    {% if profile.user in rel_receiver and request.user not in profile.friends.all %}
                            waiting approuval
                            <form action="{% url 'post:cancel' %}" method="post">
                                {%csrf_token%}
                                <input type="hidden" name="profile_id" id="" value="{{profile.id}}" >
                                    <button type="submit">cancel</button>                        
                            </form>
                            {%endif%}
                    {% if profile.user in rel_sender and request.user not in profile.friends.all %}
                    <form action="{% url 'post:accept' %}" method="post">
                        {%csrf_token%}
                        <input type="hidden" name="profile_id" id="" value="{{profile.id}}" >
                            <button type="submit">accept</button>                        
                    </form>
                    <br>
                    <form action="{% url 'post:reject' %}" method="post">
                        {%csrf_token%}
                        <input type="hidden" name="profile_id" id="" value="{{profile.id}}" >
                            <button type="submit">reject</button>                        
                    </form>
                    {%endif%}
                   
                    
                    <br>
                    {% if request.user in profile.friends.all %}
                    <form action="{% url 'post:unfriend' %}" method="post">
                        {%csrf_token%}
                        <input type="hidden" name="profile_id" id="" value="{{profile.id}}" >
                            <button type="submit">Unfriend</button>                        
                    </form>
                    {%endif%}
                    <br>
                {%endfor%}
        </div>
    </div>
</div>


{% endblock %}