{% extends 'post/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
CONTACT
{% endblock %}

{% block content %}


<<div class="container">
    <div class="row  mt-3">
      <div class="col-12 col-md-8 col-lg-6 pb-4" >
        <h3>Let your insprition do the most of it :</h3>
        
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        

        <br>
        {{ form.as_p }}
        <br>
    </div>
    <button type="submit" class="btn btn-success" style="width: 100px;">Post</button>
    
</form>
</div>
  </div>
</div>



{% endblock %} 